[buildout]
extends = 
    http://dist.plone.org/release/4.3.7/versions.cfg
    translations.cfg
parts +=
    instance
    test
    bobtemplates
    precompile
extensions = mr.developer
auto-checkout = kitconcept.policy

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Plone
    Products.PrintingMailHost
# This is important for the workflow translations to be picked up!
zcml =
    kitconcept.policy

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['--auto-color', '--auto-progress']

[bobtemplates]
recipe = zc.recipe.egg
eggs =
    mr.bob
    bobtemplates.plone

[precompile]
recipe = plone.recipe.precompiler
eggs = ${instance:eggs}
compile-mo-files = true

[sources]
kitconcept.policy = fs kitconcept.policy
# kitconcept.contenttypes = fs kitconcept.contenttypes
# kitconcept.theme = fs kitconcept.theme

[versions]

