[buildout]
extends =
     buildout.d/plone-5.0.x.cfg
     buildout.d/core.cfg
     buildout.d/zope-instance.cfg

[settings]
instance1-port = 8081
instance2-port = 8082
instance3-port = 8083
instance4-port = 8084
instance-debug-port = 8085
effective-user = kitconcept
instance-user = admin
instance-password = admin
policy-package =
zeo-port = 8088

# zserver-threads:
# Specify the number of threads that Zope's ZServer web server will use to
# service requests. The recipes default is 2.
instance-zserver-threads = 2

# zodb-cache-size:
# Set the ZODB cache size, i.e. the number of objects which the ZODB cache
# will try to hold. Defaults to 30000.
instance-zodb-cache-size = 500000

# zeo-client-cache-size:
# Set the size of the ZEO client cache. Defaults to '30MB'. The ZEO cache is
# a disk based cache shared between application threads. It's stored inside
# the directory designated by the TMP environment variable.
instance-zeo-client-cache-size = 300MB

supervisor-host = 127.0.0.1
supervisor-port = 8089
supervisor-user = kitconcept
supervisor-password = secret
